body{
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: 
    url(https://res.cloudinary.com/danza00/image/upload/v1614693482/bg-pattern-top_nljf41.svg),
    url(https://res.cloudinary.com/danza00/image/upload/v1614693482/bg-pattern-bottom_ebazh9.svg);
    background-position: 
    top -50vh left -10vh,
    bottom -50vh right -10vh;
    background-repeat: no-repeat;
    background-size: 55%, 55%;
    font-family: 'Kumbh Sans';
}

.id-box {
    display: block;
    background-color: white;
    width: 350px;
    height: 60%;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blue-balls {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    position: absolute;
    z-index: -1s;
}

.portraitblock {
    text-align: center;
    padding-top: 30%;
}
.portrait {
    border: 2px white;
    border-radius: 50%;
    position: relative;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

hr {
    margin-top: 10%;
}

.flexcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.stat {
    text-align: center;
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
    body {
        max-width: 375px;
    }
}